.book-details
  width: 600px
  display: flex
  justify-content: space-between
  align-items: center
  margin: 20px auto 0 auto
  position: relative
.books-wrap
  width: 400px
  height: 260px
  margin-left: 15px
.book
  width: 100%
  font-size: 20px
  margin-top: 15px
  &:first-child
    font-size: 30px
    font-weight: bold
    color: #165A5A
    & .book__value
      margin-left: 0
    & .book__title
      display: none
  &__value
    margin-left: 15px
    border-bottom: 1px solid grey
    font-style: italic
    height: 30px
  &__edit
    height: 20px
    margin-left: 15px
    font-size: 20px
    font-style: italic
    &:focus
      outline: none
      border: .5px solid grey
.link_book
  position: absolute
  left: 20px
  top: 300px
  font-size: 20px
  color: black
  &:hover
    color: green
  &:visited
    text-decoration: none
  &:link
    color: green
    text-decoration: none

    

      
    
