.add-books-block
  margin: 20px 0 20px 20px
.fields
  margin-top: 30px
  width: 400px
  height: 200px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
.btn
  &_add-book
    width: 100px
    height: 35px
    background-color: #5cb85c
    color: #fff
    text-align: center
    cursor: pointer
    border: none
    border-radius: 6px
    &:hover
      background-color: #449d44
      transition: all 1s ease
    &:disabled
      opacity: 0.6
      &:hover
        background-color: #5cb85c
  &_toggle-book-form
    outline: none
    width: 25px
    height: 25px
    font-size: 20px
    margin-left: 5px
    border-radius: 30px


 


     
 